<% flash.each do |key, value| %>
  <div id="alert" class="absolute bg-orange-50 opacity-50 px-10 alert alert-<%= key %>">
    <div class="text-red-900 tracking-widest">
      <%= value %>
    </div>
  </div>
<% end %>