<% flash.each do |key, value| %>
  <div id="alert" class="fade-out alert-<%= key %>">
    <div class="text-gray-700 tracking-widest text-center block py-1 px-8">
      <%= value %>
    </div>
  </div>
<% end %>