<div class="lg:w-5/12 md:w-7/12 sm:10/12">
  <div class="p-5 bg-white rounded shadow-md uppercase">
    <h1 class="text-lg font-semibold">找尋你的美好食刻</h1>

      <%= form_tag search_result_pages_path, method: :get do %>
        <%= text_field_tag :store, params[:name], placeholder: "店名" %>
        <%= text_field_tag :dish, params[:name], placeholder: "方案名" %>
        <%= submit_tag "Search", name: nil %>
      <% end %>

  </div>
</div>