<div class="date-fields" data-new-record="<%= f.object.new_record?%>">

  <%= f.search_field :open_dates_availible_date, placehoder: '可訂位日期', class: 'bg-white-500 hover:bg-gray-300 text-black font-bold py-1 px-2 border border-black-500 rounded' %>

</div>