<div class="m-auto lg:w-8/12 md:w-10/12 sm:w-full">
	<!-- component -->
	<div class="bg-white p-8 rounded-md w-full">
		<div class="text-center">
			<div>
				<h2 class="text-gray-600 font-semibold text-lg">浪漫約會</h2>
				<span class="text-xs">aaa</span>
			</div>
		</div>

    <nav class="flex justify-center flex-col sm:flex-row max-w-2xl m-auto">
      <button class="text-black-500 py-4 px-6 block hover:text-orange-500 focus:outline-none text-orange-500 border-b-4 font-medium border-orange-500 mr-10 w-1/2 text-sm">
        餐廳
      </button>
      <button class="text-black py-4 px-6 block hover:text-orange-500 focus:outline-none mr-10 w-1/2 text-sm">
        說明
      </button>
    </nav>

    <section class="antialiased text-gray-600 w-full m-auto my-10">
      <div class="flex justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
          <header class="px-5 py-1 border-b border-gray-100">

          
            <div class="flex justify-around w-full py-2 text-orange-600 text-sm">
              <select class="focus:outline-none py-2.5 text-center rounded-full border border-orange-600 hover:bg-orange-50 w-3/12 appearance-none cursor-pointer">
                <option selected>請選擇日期 ▼</option>
                <option>1/25</option>
                <option>1/26</option>
                <option>1/27</option>
                <option>1/28</option>
                <option>1/29</option>
                <option>1/30</option>
                <option>1/31</option>
                <option>2/1</option>
                <option>2/2</option>
                <option>2/3</option>
              </select>
              <select class="focus:outline-none py-2.5 text-center rounded-full border border-orange-600 hover:bg-orange-50 w-3/12 appearance-none cursor-pointer">
                <option selected>請選擇人數 ▼</option>
                <option>１人</option>
                <option>２人</option>
                <option>３人</option>
                <option>４人</option>
                <option>５人</option>
                <option>６人</option>
                <option>７人</option>
                <option>８人</option>
                <option>９人</option>
                <option>10人以上，請撥打電話服務</option>
              </select>
            </div>
          </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                      <thead class="text-xs font-semibold uppercase text-gray-700 bg-gray-50">
                        <tr>
                          <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">餐廳名稱</div>
                          </th>
                          <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">時段</div>
                          </th>
                          <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">地區</div>
                          </th>
                        </tr>
                      </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg" width="40" height="40" alt="Alex Shatov"></div>
                                  <div class="font-medium text-gray-800">AAAAAAAAAA</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
                                    您所選的日期無提供可預訂座位
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-06.jpg" width="40" height="40" alt="Philip Harbach"></div>
                                  <div class="font-medium text-gray-800">BBBBB</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  18:00
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  19:30
                                  </button>
                                </div>
                              </td>
                                <td class="p-2 whitespace-nowrap">
                                  <div class="text-left font-medium text-orange-500 text-xs">台北市中山區</div>
                                </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-07.jpg" width="40" height="40" alt="Mirko Fisuk"></div>
                                  <div class="font-medium text-gray-800">CCCCC</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  19:00
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  19:30
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  20:30
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-08.jpg" width="40" height="40" alt="Olga Semklo"></div>
                                  <div class="font-medium text-gray-800">DDDDD</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
                                    您所選的日期無提供可預訂座位
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-09.jpg" width="40" height="40" alt="Burak Long"></div>
                                  <div class="font-medium text-gray-800">EEEEE</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  18:00
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  18:30
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  20:00
                                  </button>
                                </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
                                </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg" width="40" height="40" alt="Alex Shatov"></div>
                                  <div class="font-medium text-gray-800">AAAAA</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
                                    您所選的日期無提供可預訂座位
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-06.jpg" width="40" height="40" alt="Philip Harbach"></div>
                                  <div class="font-medium text-gray-800">BBBBB</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  18:00
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  19:30
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市中山區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-07.jpg" width="40" height="40" alt="Mirko Fisuk"></div>
                                  <div class="font-medium text-gray-800">CCCCC</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  19:00
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  19:30
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  20:30
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-08.jpg" width="40" height="40" alt="Olga Semklo"></div>
                                  <div class="font-medium text-gray-800">DDDDD</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
                                    您所選的日期無提供可預訂座位
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-09.jpg" width="40" height="40" alt="Burak Long"></div>
                                  <div class="font-medium text-gray-800">EEEEE</div>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left">
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  18:00
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  18:30
                                  </button>
                                  <button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
                                  20:00
                                  </button>
                                </div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </section>


</div>