
<div class="bg-gray-100 max-w-screen-md container mx-auto pb-4">

	<div class="border-b-2 px-4 py-10">	
		<div class="flex pb-3">

			<div class="flex-1">
				<div class="w-10 h-10 bg-red-400 border-2 border-red-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">1</span>
				</div>
			</div>

			<div class="w-1/4 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-gray-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>
		
			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-red-400 mx-auto rounded-full text-lg text-red-400 flex items-center">
					<span class="text-center w-full">2</span>
				</div>
			</div>
		
			<div class="w-1/4 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-gray-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>
		
			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-red-400 mx-auto rounded-full text-lg text-red-400 flex items-center">
					<span class="text-center w-full">3</span>
				</div>
			</div>

		</div>
		
		<div class="flex text-lg content-center text-center py-1">
			<div class="w-1/4 text-sm text-red-500">
				選擇餐卷
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/4 text-sm text-red-500">
				確認訂位資訊
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>
			
			<div class="w-1/4 text-sm text-red-500">
				確認訂單結果
			</div>
		</div>
	</div>


	<a href="http://localhost:3000/stores">
		<div	class="inline-block mr-2 mt-5 flex justify-center w-full">
					<button type="button"
					class="focus:outline-none text-red-500 tracking-widest py-2.5 px-5 border-b-4 border-red-600 rounded-md bg-white hover:bg-red-500 hover:text-white w-11/12">12/24(五) 13:00, 2人
					</button>
		</div>
	</a>
	<div class="text-center text-gray-500 text-xs tracking-widest pt-2 pb-6">✲ 點擊可回前頁，更改訂位日期及時間。</div>


	<section>

		<h3 class="bg-gray-300 text-black text-lg py-3 pl-6">優惠方案(1/2)</h3>
		<div class="py-3 pl-6">
		【壽星限時方案】加碼贈送麵線乙份！<br>
		★ 午晚餐訂位並預付 $500 /人，享現場9折優惠<br>
		★ 壽星方案，午晚餐訂位並預付 $500 /人，享現場9折優惠，加贈送麵線乙份！<br>
		★ 限當月壽星本人使用，點餐前需向服務人員出示相關證件方可兌換！<br>
		</div>
      <a href="http://localhost:3000/checks/show">
				<div class="flex justify-center w-full my-6">
						<button type="button"
						class="focus:outline-none text-white text-sm py-2.5 px-5 border-b-4 border-red-600 rounded-md bg-red-500 hover:bg-red-400 w-11/12">選此方案
						</button>
				</div>
			</a>
	</section>

	<section>
		<h3 class="bg-gray-300 text-black text-lg py-3 pl-6">優惠方案(2/2)</h3>
		<div class="py-3 pl-6">
		【壽星限時方案】加碼贈送麵線乙份！<br>
		★ 午晚餐訂位並預付 $1000 /人，享現場8折優惠<br>
		★ 壽星方案，午晚餐訂位並預付 $1000 /人，享現場9折優惠，加贈送麵線乙份！<br>
		★ 限當月壽星本人使用，點餐前需向服務人員出示相關證件方可兌換！<br>
		</div>
			<a href="http://localhost:3000/checks/show">
				<div class="flex justify-center w-full my-6">
						<button type="button"
						class="focus:outline-none text-white text-sm py-2.5 px-5 border-b-4 border-red-600 rounded-md bg-red-500 hover:bg-red-400 w-11/12">選此方案
						</button>
				</div>
			</a>
	</section>

	</div>