.index-scroll .hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.index-scroll .hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.timeCheck:checked ~ .timeTag {
  background-color: white;
  color: #f97315;
  border: 1px, #f97315;
}

.foodfood {
  background-color: black;
}