<p>您好： <%= @resource.email %>!</p>
<p>歡迎使用EZeat的服務，請點擊以下連結設定新密碼：</p>
<p><%= link_to '修改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<br>
<p>如果您沒有請求修改密碼，請忽略此封信。</p>
<br>
<br>
<div style="border-bottom: 1px solid gray;">
<a href="https://ezeat888.com/" style="text-decoration-line: none;">
  <div style="color:#f97315; font-size: 24px; font-weight: bold;">EZeat<span style="color:#676767; font-size: 22px; font-weight: bold;">。滿足您的美好食刻</span></div>
</a>
</div>
